apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: team-c

resources:
- ../../base

patches:
- target:
    kind: Namespace
    name: default-dev
  patch: |-
    - op: replace
      path: /metadata/name
      value: team-c
- target:
    kind: ResourceQuota
    name: resource-quota
  patch: |-
    - op: replace
      path: /metadata/name
      value: quota-team-c
- target:
    kind: RoleBinding
    name: admin
  patch: |-
    - op: replace
      path: /subjects/0/name
      value: team-c