apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: team-b

resources:
- ../../base
- networkattachmentdefinition.yaml

patches:
- target:
    kind: Namespace
    name: default-dev
  patch: |-
    - op: replace
      path: /metadata/name
      value: team-b
- target:
    kind: ResourceQuota
    name: resource-quota
  patch: |-
    - op: replace
      path: /spec/hard/limits.cpu
      value: "hoge" 
    - op: replace
      path: /spec/hard/services
      value: 10 
- target:
    kind: RoleBinding
    name: admin
  patch: |-
    - op: replace
      path: /subjects/0/name
      value: team-b
- target:
    kind: MultiNetworkPolicy
    name: allow-same-namespace
  patch: |-
    - op: add
      path: /metadata/annotations/k8s.v1.cni.cncf.io~1policy-for
      value: team-b/default-vlan
- target:
    kind: MultiNetworkPolicy
    name: deny-by-default
  patch: |-
    - op: add
      path: /metadata/annotations/k8s.v1.cni.cncf.io~1policy-for
      value: team-b/default-vlan