apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- namespace.yaml
- resource-quota.yaml
- limit-range.yaml
- rolebinding.yaml
- networkpolicy.yaml
- multinetworkpolicy-alow-ns-ingres.yaml
- multinetworkpolicy-deny-all-ingress.yaml